*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-color: #38bdf8;
  --sidebar-font-color: white;
  --main-content-bkg: #e3eaf3;
  --lc-bkg: white;
}

.dashboard-container {
  min-width: 99vw;
  min-height: 98vh;
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  border: 5px solid red;
  display: grid;
  grid-template-rows: 1fr 2.5fr 2fr;
  background-color: var(--sidebar-color);
  color: var(--sidebar-font-color);
}

.sidebar img {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(110deg)
    brightness(113%) contrast(99%);
}

.sb-child {
  display: flex;
}

.sb-child img {
  width: 2rem;
}

.sb-child.top {
  align-items: center;
}

.sb-child.top img {
  margin: 0 1rem;
}

.sb-child.top h1 {
  margin-right: 1.5rem;
}

.sb-child.middle {
  flex-direction: column;
  margin: 2rem 0;
  justify-content: space-evenly;
}

.sb-child.middle div {
  display: flex;
}

.sb-child.middle img {
  margin: 0 1rem;
}

.sb-child.bottom {
  flex-direction: column;
}

.sb-child.bottom div {
  display: flex;
}

.sb-child.bottom div:nth-child(2) {
  margin: 1rem 0;
}

.sb-child.bottom img {
  margin: 0 1rem;
}

.header-main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-main > div {
  border: 5px solid orangered;
}

.main {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: var(--main-content-bkg);
}

.main-left {
  display: grid;
  grid-template-rows: 1fr 9fr;
}

#your-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#your-projects-container h2 {
  margin-left: 10px;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
}

.lc {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px); /* Set initial size for 3 columns */
  margin: 5px; /* Add margin between columns */
  border-radius: 10px;
  padding: 1rem;
  border-left: 5px solid orange;
  background-color: var(--lc-bkg);
}

.lc p {
  margin-bottom: 3rem;
}

.lc div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.lc div img {
  width: 2rem;
}

.lc div img:nth-child(2) {
  margin: 0 1rem;
}

.main-right {
  border: rgb(0, 110, 255) solid 5px;
}
