*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Roboto&display=swap");

:root {
  --side-bar-color: #0ea5e9;
  --side-bar-font-color: white;
  --header-color: #fafaf9;
  --main-content: #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  height: min(100vh);
  width: min(100vw);
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.container div {
  /* border: 5px solid red; */
}

.sidebar {
  grid-row: span 2;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  background-color: var(--side-bar-color);
  color: var(--side-bar-font-color);
  font-weight: bold;
}

.sidebar-section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max(80%);
}

.sidebar-section div > * {
}

.sidebar-section div div {
  width: 7rem;
  display: flex;
  justify-content: flex-start;
}

.sidebar img {
  width: 2rem;
  filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(360deg)
    brightness(112%) contrast(101%);
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--header-color);
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--main-content);
}

.content-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.content-left:nth-child(1) {
  grid-row: 1;
  height: 1rem;
}

.content-left > h3 {
  grid-column: span 2;
  display: flex;
  align-items: flex-end;
  width: min(75%);
}

.content-right {
  display: grid;
  grid-template-columns: 1fr;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search img {
  width: 1rem;
  margin: 0 1rem;
}

#search input {
  height: min(1rem);
  width: min(75%);
  border-radius: 10px;
  background-color: var(--main-content);
}

#notification {
  width: 1rem;
}

#notifications {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0 min(0.75rem);
  width: 5rem;
}

#title {
  display: flex;
  justify-content: flex-start;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button:nth-child(2) {
  margin: 0 2rem;
}

.header-btn {
  border-radius: 10px;
  height: min(50%);
  width: min(25%);
  background-color: var(--side-bar-color);
  color: var(--side-bar-font-color);
}

.card-left {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.img-container {
  width: min(1rem);
  display: flex;
  justify-self: flex-end;
}
